# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .travis.yml
exclude .tbd.yml
exclude README.md
include README.rst
include setup.cfg
prune .cache
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-include tests *
